---
import cruz_color2 from '../assets/cruz_color2.svg';
---
<div id="container">
	<!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
	<main>
		<section id="hero">
			<a href="https://astro.build">
				<img src={cruz_color2.src} width="500" height="250" alt="Astro Homepage" /></a>
			<h1>
				Rodyna Farmacias - Nosotros
			</h1>
			<section>
                <a class="button" href="/src/components/Welcome">Home</a>
				<p>Sobre nosotros...</p>
			</section>
		</section>
	</main>

</div>